<% provide(:title, 'eSteem') %>
<div class="row">
  <%= react_component('ListProducts', name: "Initial", products: @products, :prerender => true) %>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <p>dużo gier</p>
  </div>
</div>


