<div class="row">
    <h1 class="page-header text-left">
        Podsumowanie transakcji
    </h1>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
            <h1>dupa</h1>
            </div>
        </div>
    </div>
    
    <!-- panel boczny -->
    <div class="col-md-3">
 
    </div>
    
</div>


