<div class="row">
    <h1 class="page-header text-left">
        Podsumowanie zamówienia
    </h1>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Poniżej znajduje się zestawienie gier, które chciałbyś kupić. Aby potwierdzić zamówienie i dokonać płatności wciśnij przycisk potwierdź.</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa gry</th>
                        <th>Platforma</th>
                        <th>Cena brutto</th>
                        <th>Liczba sztuk</th>
                        <th>Wartość brutto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="#">Totally not GTAV</a>
                        </td>
                        <td>Steam</td>
                        <td>123,00 zł</td>
                        <td>1</td>
                        <td>123,00 zł</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="#">Plague Inc</a>
                        </td>
                        <td>Steam</td>
                        <td>86,10 zł</td>
                        <td>2</td>
                        <td>172,20 zł</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-body text-right">
                <h3>Razem: <strong>295,20 zł</strong></h3>
                <a class="btn btn-primary" href="#">Potwierdź</a>
            </div>
        </div>
    </div>

</div>
