<div class="row">
    <h1 class="page-header text-left">
        Szczegóły koszyka
    </h1>
    <div class="col-md-12">
        <%= react_component('DetailViewTable', shopping_cart_id: @shopping_cart.id, shopping_cart_token: session[:cart_token], :prerender => true) %>
    </div>

</div>
