<div class="row">
    <h1 class="page-header text-left">
        eSteem - o nas
    </h1>
    <div class="col-md-12">
        <p>
            Jesteśmy najwiarygodniejszym serwisem sprzedającym klucze na platformy Steam oraz Origin. Na rynku działamy od 2014 roku. 
        </p>
    </div>
</div>