<div class="row">
    <h1 class="page-header text-left">
        Partnerzy
    </h1>
    <div class="col-md-12">
        <p>
            Nasze klucze pochodzą z pewnych źródeł. Poniżej znajduje się lista firm, z których uzyskujemy klucze do Twoich ulubionych gier.
        </p>
        <ul>
            <li>Steam</li>
            <li>Origin</li>
            
        </ul>
    </div>
</div>